@charset "utf-8";

/* 웹폰트 */
/* Roboto체 + Roboto Condensed체 - CDN */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@300&display=swap");
/* noto sans kr */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Noto+Sans:wght@300;400;500;700&family=Roboto:wght@300;500;700&display=swap');
/* 

font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
*/

/* body *{
    outline: 1px solid black;
} */

ul,
ol {
    list-style: none;
}

.ibx {
    /* 플렉스박스 */
    display: flex;
    /* 크기가 넘치면 아래로 내려감 */
    flex-wrap: wrap;

    max-width: 1280px;
    margin: 0 auto;
    /* outline: 1px dashed gray; */
    /* 임시높이 */
    min-height: 88px;
}

.mbx {
    /* 플렉스박스 */
    display: flex;
    /* 크기가 넘치면 아래로 내려감 */
    flex-wrap: wrap;
    max-width: 1580px;
    margin: 0 auto;
    /* outline: 1px dashed gray; */
    min-height: 90px;
}

.ebx {
    display: flex;
    /* 크기가 넘치면 아래로 내려감 */
    flex-wrap: wrap;

    max-width: 1280px;
    margin: 0 auto;
    /* outline: 1px dashed gray; */
    /* 임시높이 */
    min-height: 50px;
}

.hbx {
    display: flex;
    /* 크기가 넘치면 아래로 내려감 */
    flex-wrap: wrap;

    max-width: 1280px;
    margin: 0 auto;
    /* outline: 1px dashed gray; */
    /* 임시높이 */
    min-height: 57px;
}

.ibx2 {
    /* 플렉스박스 */
    display: flex;
    /* 크기가 넘치면 아래로 내려감 */
    flex-wrap: wrap;

    max-width: 1920px;
    margin: 0 auto;
    /* outline: 1px dashed gray; */
    /* 임시높이 */
    min-height: 88px;
}

.tbx {
    height: 88px;
}

.tbx2 {
    height: 88px;
}

.tbx ul {
    display: flex;
    margin-top: 23px;
    margin-right: 60px;
}

.tbx a {
    line-height: 45px;
}

.por {
    position: relative;
}

/* 상단영역 */
.nv {
    margin-top: 9px;
    /* margin-left: 155px; */
}

/* 로고 */
.logo {
    position: absolute;
    top: 0;
    left: 30px;
    padding: 10px;
    height: auto;
    margin-top: 0;
    width: 100px;
    height: 100px;
}

.tbx ul li:nth-child(2) {
    padding-left: 0;
    position: relative;
}

/* 로고 li */
.logomg {
    margin-left: 50%;
}

/* 로고 옆 검색박스 */
.top input {
    width: 500px;
    height: 40px;
    background-color: #f1f1f5;
    border: none;
    float: right;
}

/* 검색박스 폰트 포지션설정 */
.top input[type=text] {
    padding-top: 3px;
    padding-left: 12px;
    box-sizing: border-box;
}

/* 검색박스 폰트 속성설정 */
.top input::placeholder {
    color: #aeaeae;
    font-size: 16px;
}


.sss {
    outline: 2px solid #dbdbdb;
}

/* 사이드박스 */
/* 사이드 로고 전체박스 */
.sbx {
    display: flex;
    float: right;
    padding-top: 28px;
}

/* 사람로고 사이간격설정 */
.sbx li:first-child {
    padding-right: 28px;
}

/* 자물쇠로고 사이간격설정 */
.sbx li:nth-child(2) {
    padding-right: 28px;
}

/* 더블박스로고 사이간격설정 */
.sbx li:nth-child(3) {
    padding-right: 28px;
}

/* 상단 사이드박스 이미지 사이즈속성 */
.top .sbx img {
    width: 25px;
    height: 25px;
}



/* 서브메뉴1 2 3 속성설정*/
.sme,
.sme2,
.sme3 {
    display: flex;
    line-height: 25px;
}


/* 서브메뉴 1 2 3 폰트설정 */
.sme,
.sme2,
.sme3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

/* 로그인쪽 서브메뉴 포지션설정 */
.sme3 {
    float: right;
}

/* 로그인쪽 서브메뉴 폰트컬러설정 */
.sme3 a {
    color: #767676;
}

/* 로그인쪽 서브메뉴 사이간격 설정 */
.sme3 li:first-child {
    padding-right: 18px;
}

.sme3 li:nth-child(2) {
    padding-right: 18px;
}

/* GNB메뉴박스 */
.gnb {
    position: relative;
    z-index: 999;
    /* 포지션이 있어야 z-index적용됨!
        GNB 하위메뉴가 위에 오도록 z-index를 높인다! */
    /* background-color: lightskyblue; */
}

/* ul 초기화 */
.gnb ul {
    display: flex;
    /* width: 800px; */
    margin: 0 350px;
    text-align: center;
    /* outline: 1px solid red; */
}

/* 상위li 리스트요소 */
.gnb>ul>li {
    width: 200px;
    /* height: 40px; */
    text-align: center;
    /* outline: 1px dashed blue; */
    /* float: left; */
    /* box-sizing: border-box; */
}

/* 상위 li에 마우스 오버시 나타날 서브메뉴 배경 가상요소로 만들기!!! 서브메뉴있는 li만(li.sm) */
.gnb>ul>li.sm::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    /* left,top의 부모는? .gnb */
    height: 0;
    /* 65px -> 오버시 */
    background-color: white;
    /* 트랜지션 */
    transition: 0.4s;
}

/* 상위 li에 마우스 오버시 서브메뉴 배경 가상요소 보이기 */
.gnb>ul>li:hover::after {
    height: 200px;
    /* 200px */
}

/* li사이에 구분선 넣기 */
.gnb>ul>li+li::before {
    content: "";
    display: block;
    position: absolute;
    /* 젠틀앱솔루트: 부모박스안에 그대로있음! */
    width: 1px;
    height: 20px;
    margin-top: 10px;
    margin-left: 1px;
    background-color: black;

    /* border-left: 1px solid #000; */
}

.gnb>ul>li+li:nth-child(2)::before {
    content: "";
    display: block;
    position: absolute;
    /* 젠틀앱솔루트: 부모박스안에 그대로있음! */
    width: 1px;
    height: 20px;
    margin-top: 10px;
    margin-left: 1px;
    background-color: black;
}

/* li 상위메뉴 a요소 */
.gnb>ul>li>a {
    /* a요소 확장 */
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 40px;
    color: #000;
    text-decoration: none;
    /* 트랜지션:속시이지 */
    transition: 0.3s;
}

/* 부모li에 마우스 오버시 상위메뉴 a요소 변경 */
.gnb>ul>li:hover>a {
    color: green;
    background-color: white;
}

/* 상단 메뉴 글자에 밑줄애니 */
.gnb>ul>li>a>span {
    position: relative;
    /* 부모자격 */
}

/* 가상요소로 밑줄넣기 */
.gnb>ul>li>a>span::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    /* 부모는? 싸고있는 span */
    width: 0;
    /* 마우스오버시 100% */
    height: 2px;
    background-color: green;
    /* 트랜지션: 속시이지 - 돌아올때 지연시간 없음! */
    transition: width 0.2s ease-out;
}

/* 상위메뉴 오버시 가상요소 밑줄애니 */
.gnb>ul>li:hover>a>span::after {
    width: 100%;
    /* 오버시에 기다리는 시간 0.4초 */
    transition-delay: 0.4s;
}

/* 
        [ 부모요소로 부터 상속되는 속성은 무엇인가? ]
        글자체, 글자색, 글자크기, 글자정렬 등 글자관련속성들
      */

/* 서브메뉴 */
.smenu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* 가로중앙이동 */
    z-index: 1;
    /* li가상요소 앱솔루트 보다 위! */
    /* 크기유지박스 왼쪽 패딩적용 */
    /* width: 800px; */
    width: 1425px;
    box-sizing: border-box;
    padding-left: 25px;
    /* outline: 1px dotted lime; */
    /* 플렉스박스 */
    display: flex;
    /* width: 200px; 
        -> 가로크기없이 auto 여야 옆으로 늘어남! */
    /* 서브메뉴 박스 숨기기 */
    height: 0;
    /* 1 */
    overflow: hidden;
    /* 2 */
    /* 주의사항: 높이값 0으로
        숨기는 박스는 위아래 패딩,보더는
        숨겨지지 않으므로 쓰지 않는다!
        디자인은 하위요소에서 할것! */
    background-color: white;
    border-radius: 0 0 5px 5px;
    color: green;
    text-align: center;
    /* margin-left: 10px; */

    /* 트랜지션 */
    transition: 0.4s;
}

/* 상위메뉴 li 오버시 서브메뉴 보이기 */
.gnb>ul>li:hover .smenu {
    height: auto;
    text-align: center;
    /* 200px */
}

/* 서브메뉴 ol */
.smenu ol {
    /* 플렉스박스 */
    display: flex;
    padding: 15px;
    /* outline: 1px dashed red; */
}

/* 서브메뉴 li */
.smenu li {
    margin-right: 20px;
    /* margin: 0 auto; */
}

.smenu a {
    /* a확장 */
    /* display: block; */
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: black;
    text-decoration: none;
    line-height: 35px;
    padding: 0 5px;
    /* 트랜지션 */
    transition: 0.2s;
}

/* 서브메뉴 dd하위 a에 오버시 */
/* .smenu dd a:hover {
       background-color: lightskyblue;
      color: darkblue;
    } */

/* 서브메뉴 하위 디자인 */
.smenu dl {
    width: 160px;
    margin-left: 20px;
    margin: 20px auto;
    /* margin: 0 auto; */
    text-align: center;
    /* margin-left: -100px; */
}

.smenu dt {
    border-bottom: 1px solid black;
    /* li 하단 밑줄 */
    margin-bottom: 5px;
}

.smenu dt a {
    font-size: 11px;
    font-weight: bold;
}

.smenu dd {
    margin: 0 auto;
}

/* 베스트 기획전 부분 */
.cul {
    position: absolute;
    white-space: nowrap;
    left: 9.4%;
    bottom: 17%;
}

.cul li:first-child {
    font-size: 40px;
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
}

.cul li:nth-child(2) {
    font-size: 15px;
    color: #767676;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    padding-top: 10px;
}

.cul li:last-child {
    font-size: 15px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 25px;
}

.cul li:last-child img {
    width: 30px;
    height: 18px;
}

.scont .cdi {
    display: flex;
}

.scont .cul2 img {
    width: 22px;
    height: 22px;
}

.scont .cul2 {
    display: flex;
    position: absolute;
    right: 9.5%;
    bottom: 15%;
    color: #707070;
}

.cul2 span {
    color: #000;
}

.cul2 li:first-child {
    padding-right: 14px;
}

.cul2 li:nth-child(3) {
    padding-left: 14px;
    padding-right: 16px;
}

.ibx>span {
    width: 1280px;
    height: 276px;
    background: rgba(0, 0, 0, 0.238);
}

.cull span {
    display: block;
    width: 420px;
    height: 420px;
    background: rgba(0, 0, 0, 0.242);
}

.cull {
    display: flex;
    padding-top: 85px;
}

.cull li+li {
    padding-left: 10px;
}

.cull p {
    text-align: center;
    transition: .2s;
}

.cull p:nth-child(2) {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-top: 20px;
}

.cull p:nth-child(3) {
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #767676;
    padding-top: 8px;
}

/* 
/* 이미지 기능
.cull li:hover p:nth-child(2){
    transform:scale(1.1)
}

.cull li:hover p:nth-child(3){
    transform:scale(1.1)
}
 */


/* 제목 */
.di2 h2 {
    text-align: center;
    margin-top: 91px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
}

.h2 best {
    text-align: center;
    margin-top: 20px;
    margin-bottom: -20px;
}


/* 온디먼트 */

.nvi{
    margin-left: 500px;
    /* display: block; */
}
.ontit{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.ond{
    margin: 200px;
    margin-left: 800px;
    margin-top: -185px;
}
.tit{
    margin: 10px;
}
.sname{
    margin: 10px;
}
.push{
    margin: 10px;
}


.cun {
    /* background: rgba(0, 0, 0, 0.03); */
    width: 314px;
    height: 396px;
    /* block */
    display: block;
    box-sizing: border-box;
}

.cull2 {
    display: flex;
    padding-top: 32px;
}

/* 이미지 박스 */
.icun {
    background: #dbdbdb;
    width: 314px;
    height: 314px;
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 41px;
}

.cull2 li+li {
    padding-left: 8px;
}

.lp {
    display: inline-block;
}

.ls {
    display: inline-block;
}

.cull2 p,
.cull2 img {
    transition: .2s;
}

.cull2 p:nth-child(2) {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-top: 16px;
    color: #191919;
}

.cull2 p:nth-child(3) {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-top: 2px;
    color: #505050;
}

.cull2 p:nth-child(4) {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #191919;
    padding-top: 12px;
}

.cull2 p:nth-child(4) span {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #191919;
    padding-left: 2px;
}

/* .cun{
    overflow: hidden;
}

.cull2 li:hover img{
    scale: 1.1;
}

.cull2 li:hover p:nth-child(2),
.cull2 li:hover p:nth-child(3){
    transform:scale(1.1)
}

.cull2 li:hover p:nth-child(4){
    transform:scale(1.1)
}

.cull2 li:hover p:nth-child(4) span{
    transform:scale(1.1)
} */

/* 하단 버튼 */

.ffv {
    display: block;
    width: 200px;
    height: 47px;
    margin: 69px auto;
    border-radius: 50px;
    background: #fff;
    outline: 1px solid #dbdbdb;
}

.fv {
    border-radius: 50px;
}

.fv img {
    width: 18px;
    height: 18px;
    margin-top: 15px;
    margin-left: 10px;
}

.ifv {
    display: flex;
    border-radius: 50px;
}

.ifv p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #191919;
    line-height: 47px;
    margin-left: 63px;
}


#info {
    background: black;
}

/* 3-1 하단로고 */
.blogo {
    text-align: center;
}

/* 3-2 회사주소*/
.addr {
    color: #000;
    text-align: center;
    font-size: 11px;
    /* address 기본 이탈릭 해제 */
    font-style: normal;
    margin: 5px 0 10px;
}

/* 3-3. 하단링크 */
.blink {
    /* 플렉스박스 */
    display: flex;
    /* 수평방향정렬 중앙 */
    /* justify-content: center; */
    /* 플렉스 랩핑박스 */
    /* flex-wrap: wrap; */
}

.blink a {
    color: #000;
    font-size: 13px;
    margin: 0 6px;
}

#fast {
    background: black;
}

/* 바로가기 ol */
.f1 ol {
    padding: 30px 4vw 80px;
}

/* 바로가기 li*/
.f1 li {
    display: flex;
    justify-content: center;
    line-height: 2.2;
}

/* 바로가기 메뉴 */
.f1 li>a {
    color: white;
    font-size: 12px;
    /* 텍스트 왼쪽으로 정렬 */
    margin-right: auto;
    /* 줄바꿈방지 */
    white-space: nowrap;
}

/* 2. 하단영역 */
.info {
    color: #fff;
    padding: 70px;
    /* 크기유지박스 bxb - 보더, 패딩포함 */
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 마지막 링크 글자 두껍게 */
/* .blink li :last-child a{
    font-weight: bold;
  } */






/* ______________________________________________________ */

/* 두번째탑 위쪽 구분선 설정 */
.ttop {
    /* border-bottom: 2px solid #dbdbdb; */
    margin: -16px;
}

.top {
    height: 88px;
}

.stop {
    height: 55px;
}

.cont2 {
    height: 2480px;
}

.scont {
    height: 800px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

/* .col-12 {width: 100%;} */
/* .col-13 {width: 80.33%} */
.col-14 {
    width: 19.66%
}