@charset "utf-8";

#loginBox {
    width: 100%;
    background: url(../img/모바일배너/login_bg.jpg) center top no-repeat fixed #0a0807;
    background-size: cover;
    padding-bottom: 50px;
}

.login {
    padding: 50px 0 30px;
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
    color: #fff;
}


.log {
    max-width: 570px;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.hi {
    margin: 0;
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
    color: #777;
    text-align: center;
    font-size: 18px;
}

.hi span {
    color: #006633;
}

.warpBox {
    padding-left: 24px;
}

.idBox {
    padding-top: 20px;
}

.pwBox {
    padding-top: 10px;
}

#idtxt,
#pwtxt {
    width: 95%;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.chk {
    padding: 10px 0 30px;
    font-size: 16px;
}

.logbtn {
    width: 95%;
    height: 65px;
    background: #006633;
    border-radius: 3px;
}

.logbtn a {
    display: block;
    font-size: 24px;
    line-height: 63px;
    width: 100%;
    height: 100%;
    color: #fff;
}

.war {
    color: #006633;
    max-width: 518px;
    font-size: 14px;
    line-height: 1.4;
    margin: 15px 0 0;
    /* padding-right: 10px; */
}


.login_btn_wrap ul {
    display: flex;
    padding-top: 10px;
}


.login_btn_wrap li {
    position: relative;
    width: 189.8px;
    height: 54px;
    text-align: center;
}

.login_btn_wrap ul li:after {
    border-right: 3px solid #ddd;
    color: #666;
    content: "";
    height: 22px;
    margin-top: -11px;
    position: absolute;
    right: -1px;
    top: 50%;
}

.login_btn_wrap ul li.last:after {
    border-right: 0;
}

.login_btn_wrap a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 54px;
    font-size: 16px;
}